#okbt{
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-gtk-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background-color:#79bbff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:1px solid #469df5;
	color:#ffffff;
	font-weight:bold;
	font-style:normal;
}
#okbt:hover {
	background:-gtk-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background-color:#4197ee;
}
#clbt {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-gtk-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background-color:#fe1a00;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border:1px solid #d83526;
	color:#ffffff;
	font-weight:bold;
	font-style:normal;
}
#clbt:hover {
	background:-gtk-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background-color:#ce0100;
}
